html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.defaultBox {
  background-color: #EFEFEF !important;
  border: none !important;
}

.recipeListLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.recipeListLink a{
  text-decoration: none;
  color: blueviolet;
}

.recipeListLink a:hover{
  color: #EFC81A;
}

.swiperCardBody{
  position: relative !important;
  height: 25vh !important;
  width: 100% !important;
  border: 0px !important;
}

.swiperCardBody img {
  border-radius: 15px;
  object-fit: cover;
  position: center;
  box-shadow: 2px 2px 5px 2px #EFEFEF;
}

.swiperCardBody p {
  position: absolute;
  width: 90%;
  bottom: -0.5rem;
  padding: 0.5rem;
  color: #EFEFEF;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(0.5em + 1vw);
  text-align: end;
}

.fontResponsive {
  font-size: calc(0.75em + 1vw);
}

.fixedFooter {
  position: sticky;
  bottom: 0;
  z-index: 1020;
  height: 60px;
  background-color: #FEFEFE;
}

.fixedFooter div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStyle:hover{
  background-color: #EFC81A !important;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  border: 0 !important;
}

.mainContainer {
  height: 100vh;
  /* max-width: 100vw; */
}

.recipeList{
  position: relative;
  border-radius: 15px !important;
  width: inherit !important;
  height: inherit !important;
}

.recipeList img{
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
