.defaultPageSize{
    height: 100vh;
}

.recipeContent {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipeContent .recipeListTitle{
    display: flex;
    justify-content: space-between;
}

.newRecipeContent{
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .content {
        background-color: white;
    }
}
