.defaultPageSize{
    height: 100vh;
}
.recipeContent {
    margin-left: 1rem;
    margin-right: 1rem;
}

.newRecipeContent{
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .content {
        background-color: white;
    }
}
