.mainPage {
    min-height: 100vh;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #E5E5E5;
}

.topBackButton{
    padding-top: 1vh;
    padding-left: 2vh;
}

.topBackButton button{
    background-color: transparent !important;
    border: none !important;
}

.topBackButton button:focus{
    box-shadow: none !important;
}

.registerTitle{
    display: inline-block;
    text-align: center;
    margin-top: 5vh;
}

.registerForm{
    margin-top: 5vh;
}

.registerForm input,
.registerForm span {
    background-color: white;
    border: none;
    height: 60px;
}

.registerForm input {
    border-radius: 0px 20px 20px 0px !important;
}

.registerForm span {
    border-radius: 20px 0px 0px 20px !important;
}

.registerFormPassword input{
    border: 0px !important;
}

.registerForm button {
    height: 60px;
}

.registerForm a {
    cursor: pointer;
    text-decoration: none !important;
}

.registerForm a:hover {
    color: blue !important;
}